* {
  font-family: 'Segoe UI light', 'Segoe UI', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: aliceblue;
}

input {
  width: 100%;
  height: 100%;
  min-width: 2rem;
  min-height: 2rem;
  border: none;
  background: none;
}

body {
  background: linear-gradient(to bottom, rgb(248, 73, 70) 0%, rgb(197, 66, 110) 20%, rgb(174, 52, 113) 50%, rgba(163, 0, 166, 1) 100%);
	min-height: 90%;
}

#controls {
  position: fixed;
  bottom: 0;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  min-width: 11rem;
}

input#input {
  border: 2px solid aliceblue;
  border-radius: 0.2rem;
  padding: 0.3rem;
}

input[type = button]:hover {
  border: 2px solid rgba(255,255,255,0.15);
  border-radius: 3px;
  background-color: rgba(255,255,255,0.1);
}

input[type = button]:active {
  border: 2px solid rgba(255,255,255,0.25);
  border-radius: 3px;
  background-color: rgba(255,255,255,0.2);
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.2rem;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
}

nav ul {
	list-style-type: none;
	height: 2rem;
	padding: 0;
	margin: 0;
}

nav ul li {
	float: right;
	position: relative;
	padding: 0;
	line-height: 2rem;
	background: transparent
}

nav ul li input[type=button] {
	display: block;
	padding: 0 1rem;
	color: #fff;
	text-decoration: none;
}

@page {
    size: letter;
    margin: 1cm;
}

@media print {
	#controls {
    display: none;
  }

	#print {
		display: none;
	}
}
